body {
    background-image: url('ssd.jpg');
    font-family: Jost, serif;
  }
  h1 {
    color: white;
    font-family: Jost, serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
  }
  
  
  